{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class=" my-4">
      <h1>{{ person.username }}님의 프로필</h1>
    </div>

    <hr>

    <div class="my-4">
      <div>
        <p class="lead">팔로워 : {{ person.followers.all|length }}</p>
        <p class="lead">팔로잉 : {{ person.followings.all|length }}</p>
        {% comment %} <p class="lead"><a href="{% url "accounts:followers" person.pk %}">팔로워</a>: {{ person.followers.all|length }}</p>
        <p class="lead"><a href="{% url "accounts:followings" person.pk %}">팔로잉</a>: {{ person.followings.all|length }}</p> {% endcomment %}
      </div>
      <div>
        {% if request.user != person and request.user.is_authenticated %}
          <form action="{% url 'accounts:follow' person.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in person.followers.all %}
              <button>언팔로우</button>
            {% else %}
              <button>팔로우</button>
            {% endif %}
          </form>
        {% endif %}
      </div>
    </div>

    <hr>

    <div class="my-4">
      <div>
        <h2>작성한 영화 목록</h2>
        <ul>
          {% for movie in person.movie_set.all %}
            <li>
              <a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
            </li>
          {% empty %}
            <p>아직 작성한 영화가 없습니다.</p>
          {% endfor %}
        </ul>
      </div>
    </div>

    <hr>

    <div>
      <h2>좋아요 누른 영화 목록</h2>
      <ul>
        {% for movie in person.like_movies.all %}
          <li>
            <a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
          </li>
        {% empty %}
          <p>아직 좋아요를 누른 영화가 없습니다.</p>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
