<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 생성</title>
</head>
<body>
  <h1>게시글 생성 페이지</h1>

  <form action="{% url "articles:create" %}" method = "POST">
    {% csrf_token %}
    <div>제목 : <input type="text" name="title">
    </div>
    <div>내용: <textarea name="content" id=""></textarea></div>
    <input type="submit" value="CREATE">

  </form>
  <a href="{% url "articles:index" %}">[BACK]</a>
</body>
</html>